<nav class="navbar navbar-dark bg-dark">
  <span class="navbar-brand mb-0 h1">CowTracker</span>
  <form class="form-inline">
    <a class="nav-link" [routerLink]="['/visualizar']"> Ver ubicación actual <span class="sr-only">(current)</span></a>
    <a class="nav-link" [routerLink]="['/insertar']">Agregar marcador<span class="sr-only">(current)</span></a>
    <a class="nav-link" [routerLink]="['/datosAlmacenados']">Datos Almacenados<span class="sr-only">(current)</span></a>
    <div  *ngIf="user$ | async as user; else login">
      <a *ngIf="user" id="logOut" class="nav-link" (click)="onLogOut()" href="#">Cerrar sesión</a>
    </div>
    <ng-template #login>
      <a id="logIn" class="nav-link" [routerLink]="['/login']">Iniciar sesión</a>
      <a id="logIn" class="nav-link" [routerLink]="['/register']">Registrarse</a>
    </ng-template>
  </form>
</nav>  