<div class="card">
    <div class="card-body">
        <h3>Inicio de sesión</h3>
        <form [formGroup]="form" (ngSubmit)="onLogin()">
            <div class="form-group">
                <label>Email</label>
                <input formControlName="email" type="email" class="form-control" [(ngModel)]="email"
                    aria-describedby="emailHelp">
            </div>
            <div class="form-group">
                <label>Contraseña</label>
                <input formControlName="password" type="password" class="form-control" [(ngModel)]="password">
            </div>
            <div class="form.group">
                <button type="submit" class="btn btn-primary" [disabled]="!email || !password">Iniciar sesión</button>
            </div>
            <div class="form-group">
                <label><a [routerLink]="['/register']" href="">Registrarse</a></label>
            </div>
        </form>
    </div>
</div>